[submodule "third-party/amrclaw"]
	path = third-party/amrclaw
	url = https://github.com/clawpack/amrclaw.git
[submodule "third-party/geoclaw"]
	path = third-party/geoclaw
	url = https://github.com/clawpack/geoclaw.git
[submodule "third-party/clawutil"]
	path = third-party/clawutil
	url = https://github.com/clawpack/clawutil.git
[submodule "third-party/pyclaw"]
	path = third-party/pyclaw
	url = https://github.com/clawpack/pyclaw.git
[submodule "third-party/riemann"]
	path = third-party/riemann
	url = https://github.com/clawpack/riemann.git
