include README.md
include MANIFEST.in
include LICENSE
include requirements.txt
include requirements-build.txt
include pyproject.toml
include CMakeLists.txt

# main source files and cmake files
graft gclandspill
include third-party/CMakeLists.txt

# install amrclaw's Python module
include third-party/amrclaw_init.py
include third-party/amrclaw/LICENSE
include third-party/amrclaw/src/python/amrclaw/data.py
include third-party/amrclaw/src/2d/amr_module.f90
include third-party/amrclaw/src/2d/regions_module.f90
include third-party/amrclaw/src/2d/adjoint_module.f90
include third-party/amrclaw/src/2d/prefilp.f90
include third-party/amrclaw/src/2d/trimbd.f90
include third-party/amrclaw/src/2d/bound.f90
include third-party/amrclaw/src/2d/intfil.f90
include third-party/amrclaw/src/2d/flagregions2.f90 
include third-party/amrclaw/src/2d/quick_sort1.f
include third-party/amrclaw/src/2d/quick_sort_reals.f
include third-party/amrclaw/src/2d/estdt.f
include third-party/amrclaw/src/2d/check4nans.f90
include third-party/amrclaw/src/2d/init_iflags.f
include third-party/amrclaw/src/2d/igetsp.f
include third-party/amrclaw/src/2d/reclam.f
include third-party/amrclaw/src/2d/birect.f
include third-party/amrclaw/src/2d/cleanup.f
include third-party/amrclaw/src/2d/colate2.f
include third-party/amrclaw/src/2d/bufnst2.f
include third-party/amrclaw/src/2d/flagger.f
include third-party/amrclaw/src/2d/fixcapaq.f
include third-party/amrclaw/src/2d/flglvl2.f
include third-party/amrclaw/src/2d/fluxad.f
include third-party/amrclaw/src/2d/fluxsv.f
include third-party/amrclaw/src/2d/grdfit2.f
include third-party/amrclaw/src/2d/moment.f90
include third-party/amrclaw/src/2d/nestck2.f
include third-party/amrclaw/src/2d/prepc.f
include third-party/amrclaw/src/2d/prepf.f
include third-party/amrclaw/src/2d/projec2.f
include third-party/amrclaw/src/2d/signs.f
include third-party/amrclaw/src/2d/findcut.f
include third-party/amrclaw/src/2d/smartbis.f
include third-party/amrclaw/src/2d/putnod.f
include third-party/amrclaw/src/2d/putsp.f
include third-party/amrclaw/src/2d/regrid.f
include third-party/amrclaw/src/2d/setuse.f
include third-party/amrclaw/src/2d/stst1.f
include third-party/amrclaw/src/2d/nodget.f
include third-party/amrclaw/src/2d/basic.f
include third-party/amrclaw/src/2d/outval.f
include third-party/amrclaw/src/2d/copysol.f
include third-party/amrclaw/src/2d/outvar.f
include third-party/amrclaw/src/2d/outmsh.f
include third-party/amrclaw/src/2d/outtre.f
include third-party/amrclaw/src/2d/domain.f 
include third-party/amrclaw/src/2d/cellave.f
include third-party/amrclaw/src/2d/fdisc.f
include third-party/amrclaw/src/2d/fss.f
include third-party/amrclaw/src/2d/zeroin.f
include third-party/amrclaw/src/2d/setflags.f
include third-party/amrclaw/src/2d/shiftset2.f
include third-party/amrclaw/src/2d/conck.f
include third-party/amrclaw/src/2d/domshrink.f
include third-party/amrclaw/src/2d/domprep.f
include third-party/amrclaw/src/2d/domup.f
include third-party/amrclaw/src/2d/domcopy.f
include third-party/amrclaw/src/2d/setdomflags.f
include third-party/amrclaw/src/2d/setIndices.f
include third-party/amrclaw/src/2d/coarseGridFlagSet.f
include third-party/amrclaw/src/2d/addflags.f
include third-party/amrclaw/src/2d/baseCheck.f
include third-party/amrclaw/src/2d/drivesort.f
include third-party/amrclaw/src/2d/flagcheck.f
include third-party/amrclaw/src/2d/domgrid.f
include third-party/amrclaw/src/2d/setPhysBndryFlags.f
include third-party/amrclaw/src/2d/griddomup.f
include third-party/amrclaw/src/2d/griddomcopy.f
include third-party/amrclaw/src/2d/griddomshrink.f
include third-party/amrclaw/src/2d/intcopy.f
include third-party/amrclaw/src/2d/preintcopy.f
include third-party/amrclaw/src/2d/icall.f
include third-party/amrclaw/src/2d/preicall.f
include third-party/amrclaw/src/2d/inlinelimiter.f
include third-party/amrclaw/src/2d/cstore.f
include third-party/amrclaw/src/2d/saveqc.f
include third-party/amrclaw/src/2d/opendatafile.f
include third-party/amrclaw/src/2d/init_bndryList.f
include third-party/amrclaw/src/2d/resize_bndryList.f
include third-party/amrclaw/src/2d/init_nodes.f90
include third-party/amrclaw/src/2d/restrt_nodes.f90
include third-party/amrclaw/src/2d/resize_nodes.f90
include third-party/amrclaw/src/2d/init_alloc.f90
include third-party/amrclaw/src/2d/restrt_alloc.f90
include third-party/amrclaw/src/2d/resize_alloc.f90

# install geoclaw's Python module
include third-party/geoclaw_init.py
include third-party/geoclaw/LICENSE
include third-party/geoclaw/src/python/geoclaw/data.py
include third-party/geoclaw/src/2d/shallow/utility_module.f90
include third-party/geoclaw/src/2d/shallow/geoclaw_module.f90
include third-party/geoclaw/src/2d/shallow/topo_module.f90
include third-party/geoclaw/src/2d/shallow/qinit_module.f90
include third-party/geoclaw/src/2d/shallow/refinement_module.f90
include third-party/geoclaw/src/2d/shallow/fixedgrids_module.f90
include third-party/geoclaw/src/2d/shallow/fgmax_module.f90
include third-party/geoclaw/src/2d/shallow/surge/model_storm_module.f90
include third-party/geoclaw/src/2d/shallow/surge/data_storm_module.f90
include third-party/geoclaw/src/2d/shallow/surge/storm_module.f90
include third-party/geoclaw/src/2d/shallow/gauges_module.f90
include third-party/geoclaw/src/2d/shallow/multilayer/multilayer_module.f90
include third-party/geoclaw/src/2d/shallow/friction_module.f90
include third-party/geoclaw/src/2d/shallow/adjointsup_module.f90
include third-party/geoclaw/src/2d/shallow/setprob.f90
include third-party/geoclaw/src/2d/shallow/qinit.f90
include third-party/geoclaw/src/2d/shallow/topo_update.f90
include third-party/geoclaw/src/2d/shallow/cellgridintegrate2.f
include third-party/geoclaw/src/2d/shallow/topointegral.f
include third-party/geoclaw/src/2d/shallow/bilinearintegral.f
include third-party/geoclaw/src/2d/shallow/src1d.f90
include third-party/geoclaw/src/2d/shallow/step2.f90
include third-party/geoclaw/src/2d/shallow/flux2fw.f
include third-party/geoclaw/src/2d/shallow/qad.f
include third-party/geoclaw/src/2d/shallow/valout.f90
include third-party/geoclaw/src/2d/shallow/filval.f90
include third-party/geoclaw/src/2d/shallow/filpatch.f90
include third-party/geoclaw/src/2d/shallow/bc2amr.f90
include third-party/geoclaw/src/2d/shallow/b4step2.f90
include third-party/geoclaw/src/2d/shallow/upbnd.f 
include third-party/geoclaw/src/2d/shallow/setgrd.f
include third-party/geoclaw/src/2d/shallow/gfixup.f
include third-party/geoclaw/src/2d/shallow/ginit.f
include third-party/geoclaw/src/2d/shallow/getmaxspeed.f90
include third-party/geoclaw/src/2d/shallow/advanc.f
include third-party/geoclaw/src/2d/shallow/fgmax_read.f90
include third-party/geoclaw/src/2d/shallow/fgmax_frompatch.f90
include third-party/geoclaw/src/2d/shallow/fgmax_interp.f90
include third-party/geoclaw/src/2d/shallow/fgmax_values.f90
include third-party/geoclaw/src/2d/shallow/fgmax_finalize.f90
include third-party/geoclaw/src/2d/shallow/check.f
include third-party/geoclaw/src/2d/shallow/restrt.f
include third-party/geoclaw/src/2d/shallow/errest.f
include third-party/geoclaw/src/2d/shallow/errf1.f
include third-party/geoclaw/src/2d/shallow/coarsen.f
include third-party/geoclaw/src/2d/shallow/auxcoarsen.f
include third-party/geoclaw/src/2d/shallow/prepbigstep.f
include third-party/geoclaw/src/2d/shallow/prepregstep.f
include third-party/geoclaw/src/2d/shallow/set_eta_init.f90

# riemann
include third-party/riemann/LICENSE
include third-party/riemann/src/rpn2_geoclaw.f
include third-party/riemann/src/rpt2_geoclaw.f
include third-party/riemann/src/geoclaw_riemann_utils.f

# install pyclaw's Python module
include third-party/pyclaw_init.py
include third-party/pyclaw/LICENSE
exclude third-party/pyclaw/cleanup_examples.py
include third-party/pyclaw/src/pyclaw/util.py
include third-party/pyclaw/src/pyclaw/state.py
include third-party/pyclaw/src/pyclaw/solution.py
include third-party/pyclaw/src/pyclaw/geometry.py
include third-party/pyclaw/src/pyclaw/gauges.py
graft third-party/pyclaw/src/pyclaw/fileio

# install clawutil's Python module
include third-party/clawutil_init.py
include third-party/clawutil/LICENSE
include third-party/clawutil/src/python/clawutil/data.py
